<!DOCTYPE html>
<html>
<head>
	<title>MPM web管理台</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<br>

<div class="container">

<h2>My Password Manager</h2><hr>

	<form class="form-inline" action="/">
		<div class="form-group">
			<select name="action" class="form-control">
				<option value="gen">新建</option>
			</select>
		</div>
		<div class="form-group">
			<input name="label" class="form-control" placeholder="标签名" autofocus="">
		</div>
		<input type="submit" class="btn btn-success" value="生成新的密码">
	</form>

	<hr>
	<table class="table">
		<tr>
			<th>label
			<th>password
			<th>operation
		</tr>

		{{ range $k, $v := .list}}
			<tr>
				<td>{{$k}}</td>
				<td>{{$v}}</td>
				<td>
					<a href="/?action=del&label={{$k}}" class="btn btn-danger">删除</a>
				</td>
			</tr>
		{{end}}
	</table>
</div>

<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript">

	var data = { {{range $k,$v := .list}}'{{$k}}':'{{$v}}',{{end}} };

	$('form').submit(function(){

		//	check dumplicate
		var label = $('[name=label]').val();
		if ( data[label] !== undefined) {
			if ( !confirm(label+'已存在，要覆盖吗？')) return false;
		}
		
		$.get(
			$(this).attr('action'), 
			$(this).serialize(), 
			function(){ location.reload();}
		);
		
		return false;
	})
</script>

	
</body>
</html>